
{% macro tabContent(category) %}
  {% import '_incl/docMacros' as docMacros %}

  {% for item in craft.entries.section('downloads').relatedTo(category).all() %}
    {% if item.type != 'leadtextDownload' %}{# OR == 'downloadEntry' #}
      <div class="downloadEntry" name="downloads-{{ item.slug }}">
        <h4 class="scientificTitle">{{ item.title }}</h4>
        <p>
          <span class="normal">
            {# // version with releaseDate (disabled GLAMOS-191)
              {{ docMacros.textField(item.downloadBeschrieb) }},
              {{ docMacros.pubDate(item.releaseDate) }}:
            #}
            {# version without releaseDate #}
            {{ docMacros.textField(item.downloadBeschrieb) }}:
          </span>
          {% include '_atoms/downloadDoc' %}
        </p>
        {% if item['downloadCitation'] is defined and item.downloadCitation %}
          <p>
            {{ "Daten bitte folgendermassen zitieren" | t }}:<br />
            <span class="normal">{{ item.downloadCitation }}</span>
          </p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}
