<div class="outputContainer">
  <div class="chartControls">
    <select id="chart_param">
      <option value="length_change">{{ 'Längenänderung' | t }}</option>
      <option value="mass_balance">{{ 'Massenbilanz' | t }}</option>
      {#<option value="">{{ 'Volumenänderung' | t }}</option>
      <option value="">{{ 'Eisdicken' | t }}</option>
      <option value="">{{ 'Geschwindigkeiten' | t }}</option>
      <option value="">{{ 'Firntemperaturen' | t }}</option>#}
    </select>

    <div class="btnGroup">
      <button class="btn">{{ 'Export PDF' | t }}</button><button class="btn">{{ 'Export CSV' | t }}</button>
    </div>
  </div>

  <div class="chartContainer">
    <div id="chart" class="outputChart">
      Daten werden geladen&nbsp;...
    </div>
  </div>
</div>
