{% import '_incl/docMacros' as macro %}

<div class="outputContainer">
  <div class="chartControls">
    <select id="chart_param">
      <option value="length_change">{{ 'Längenänderung' | t }}</option>
      <option value="mass_balance">{{ 'Massenbilanz' | t }}</option>
    </select>

    <div class="btnGroup">
      <button class="btn">{{ 'Export PDF' | t }}</button><button class="btn">{{ 'Export CSV' | t }}</button>
    </div>
  </div>
  <div class="chartContainer">
    {% set legend = 'Kumulative Längenänderung (m)' | t %}
    {{ macro.chart(legend, 'length_change', 'line', 'm') }}

    {% set legend = 'Massenbilanz (mm H₂0)' | t %}
    {{ macro.chart(legend, 'mass_balance', 'bar', 'mm H₂0') }}
  </div>
</div>
