{% set navigation = craft.entries.id('4,6,12').fixedOrder(true).all() %}

<ul>
  {% for nav in navigation %}
    <li><a href="{{ nav.url }}">{{ nav.title }} {{ nav.id }}</a></li>
  {% endfor %}
  {% include '_atoms/navDropdown' %}
</ul>

<h3>Entry ID List</h3>
<ul>
  {% for item in craft.entries.section(null).all() %}
    <li>{{ item.title }} ID: <strong>{{ item.id }}</strong></li>
  {% endfor %}
</ul>
