{% import '_incl/docMacros' as macro %}

{% for item in craft.entries.section('pressInfo').orderBy('releaseDate desc').all() %}
  <div class="pubEntry">
    <h4 class="scientificTitle">
      {{ macro.pubDate(item.releaseDate) }},
      {{ item.publisher }} «{{ item.title }}»
    </h4>
    <p><a href="{{ item.externalLink }}" target="_blank">{{ item.externalLink }}</a></p>
  </div>
{% endfor %}
