{% import '_organisms/downloadTab' as dls %}

{% set categories = craft.entries.section('downloads').type('leadtextDownload').all() %}

<div class="tabContainer">
  <ul class="tabLinks">
    {% for item in categories %}
      <li><a href="#tab-{{ item.slug }}" data-tab="tab-{{ item.slug }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  <div class="tabContent">
    {% for item in categories %}
      <div id="tab-{{ item.slug }}" class="tabPanel">
        <p>
          {{ item.leadtextDownloads }}
        </p>
        {{ dls.tabContent(item.downloadCategory.0) }}{# leadtext should be associated to exactly one downloadCategory #}
      </div>
    {% endfor %}
  </div>
</div>
