{% import '_incl/docMacros' as macro %}

<div class="fsMeasurements">
  <h2 class="cardTitle">{{ 'Kumulierte Messwerte' | t }}</h2>
  {{ macro.singleValue('-10', '', 'Längenänderung', 'infobox-length--cumulative') }}
  {{ macro.timeValue('1972 - 2018', '', 'Messzeitraum Länge', 'infobox-length--timespan') }}
  {{ macro.timeValue('1972 - 2018', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}

  {{ macro.singleValue('10', '', 'Masseänderung', 'infobox-mass--cumulative') }}
  {{ macro.timeValue('1972 - 2018', '', 'Messzeitraum Länge', 'infobox-length--timespan') }}
  {{ macro.timeValue('1972 - 2018', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}

  {# {{ macro.singleValue('75', ' Jahre', 'Messdauer', 'infobox-length--duration') }}
  {{ macro.singleValue('75', ' Jahre', 'Messdauer', 'infobox-mass--duration') }} #}

{# {{ macro.singleValue('-3.24','%','Volumenänderung') }}
{{ macro.singleValue('324','%','Eisdicken') }}
{{ macro.singleValue('3214','km/h','Geschwindigkeit') }}
{{ macro.singleValue('10','°','Firntemperaturen') }} #}
</div>
