{% import '_incl/docMacros' as macro %}

<div class="fsMeasurements">

  {{ macro.singleValue('—', '', 'Masseänderung', 'infobox-mass--cumulative') }}
  {{ macro.timeValue('—', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}
  {{ macro.timeValue('—', ' Jahre', 'Messdauer', 'infobox-mass--duration') }}

  {{ macro.singleValue('—', '', 'Längenänderung', 'infobox-length--cumulative') }}
  {{ macro.timeValue('—', '', 'Messzeitraum Länge', 'infobox-length--timespan') }}
  {{ macro.timeValue('—', ' Jahre', 'Messdauer', 'infobox-length--duration') }}



{# {{ macro.singleValue('-3.24','%','Volumenänderung') }}
{{ macro.singleValue('324','%','Eisdicken') }}
{{ macro.singleValue('3214','km/h','Geschwindigkeit') }}
{{ macro.singleValue('10','°','Firntemperaturen') }} #}
</div>
