{% import '_incl/docMacros' as macro %}

<div class="glacierData">
  <h2 class="currentGlacier">
    <span class="infobox-glaciername">Aletschgletscher</span>
    {{ macro.crossLink('/factsheet', 'Zum Gletscher', 'infobox-glaciername--link') }}
  </h2>

  {{ macro.singleValue('-', '', 'Masseänderung (mm H₂O)', 'infobox-mass--change') }}
  {{ macro.timeValue('-', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}

  {{ macro.singleValue('-', '', 'Längenänderung (m)', 'infobox-length--change') }}
  {{ macro.timeValue('-', '', 'Messzeitraum Länge', 'infobox-length--timespan') }}

  <p class="hint">{{ 'Kumulierte Messwerte' | t }}</p>
  {# <a class="btn " href="#">Zum Aletschgletscher</a> #}
</div>
