{% import '_incl/docMacros' as macro %}

<div class="glacierData">
  <h2 class="currentGlacier">
    <span id="infobox-glaciername">Aletschgletscher</span>
    {{ macro.crossLink('/factsheet', 'Zum Gletscher', 'infobox-glaciername--link') }}
  </h2>
  {{ macro.singleValue('-10', '', 'Längenänderung', 'infobox-length--cumulative') }}
  {{ macro.timeValue('1972 – 2018', '', 'Messzeitraum Länge', 'infobox-length--timespan') }}
  {{ macro.timeValue('75', ' Jahre', 'Messdauer', 'infobox-length--duration') }}
  {{ macro.singleValue('10', '', 'Masseänderung', 'infobox-mass--cumulative') }}
  {{ macro.timeValue('1972 – 2018', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}
  {{ macro.timeValue('75', ' Jahre', 'Messdauer', 'infobox-mass--duration') }}

  <p class="hint">{{ 'Kumulierte Messwerte' | t }}</p>
  {# <a class="btn " href="#">Zum Aletschgletscher</a> #}
</div>
