{% import '_incl/docMacros' as macro %}

<div class="glacierData">
  <h2 class="currentGlacier">
    <span class="infobox-glaciername">Aletschgletscher</span>
    {{ macro.crossLink('/factsheet', 'Zum Gletscher', 'infobox-glaciername--link') }}
  </h2>

  {{ macro.singleValue('-', '', 'Masse채nderung', 'infobox-mass--cumulative') }}
  {{ macro.timeValue('-', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}
  {{ macro.timeValue('-', ' Jahre', 'Messdauer', 'infobox-mass--duration') }}

  {{ macro.singleValue('-', '', 'L채ngen채nderung', 'infobox-length--cumulative') }}
  {{ macro.timeValue('-', '', 'Messzeitraum L채nge', 'infobox-length--timespan') }}
  {{ macro.timeValue('-', ' Jahre', 'Messdauer', 'infobox-length--duration') }}

  <p class="hint">{{ 'Kumulierte Messwerte' | t }}</p>
  {# <a class="btn " href="#">Zum Aletschgletscher</a> #}
</div>
