{% import '_incl/docMacros' as macro %}

<h1 class="currentGlacier">Rhonegletscher</h1>
<a href="" class="btnTxt">{{ 'Im Factsheet anzeigen' | t }}</a>

{{ macro.singleValue('-351.5','%','L채ngen채nderung') }}
{{ macro.singleValue('-842','%','Massenbilanz') }}
{{ macro.singleValue('-3.24','%','Volumen채nderung') }}
{{ macro.singleValue('324','%','Eisdicken') }}
{{ macro.singleValue('3214','km/h','Geschwindigkeit') }}
{{ macro.singleValue('10','째','Firntemperaturen') }}
