{% import '_incl/docMacros' as macro %}

<div class="latestMeasurementsHead">
  <h1 class="currentGlacier">
    <span class="infobox-glaciername">—</span>
    {% set lgFactsheetLink = 'Zum Factsheet' | t %}
    {{ macro.crossLink('/factsheet', lgFactsheetLink) }}
  </h1>

</div>

  {{ macro.singleValue('—', '', 'Masseänderung (mm H₂O)', 'infobox-mass--change') }}

  {{ macro.timeValue('—', '', 'Messzeitraum Masse', 'infobox-mass--timespan') }}


  {{ macro.singleValue('—', '', 'Längenänderung (m)', 'infobox-length--change') }}

  {{ macro.timeValue('—', '', 'Messzeitraum Länge', 'infobox-length--timespan') }}
