{% import '_incl/docMacros' as macro %}

<div class="latestMeasurementsHead">
  <h1 class="currentGlacier">Rhonegletscher</h1>
  <a href="" class="btnTxt">{{ 'Im Factsheet anzeigen' | t }}</a>
</div>

{{ macro.singleValue('-351.5','m','L채ngen채nderung') }}
{{ macro.singleValue('-842','m','Massenbilanz') }}
{# {{ macro.singleValue('-3.24','%','Volumen채nderung') }}
{{ macro.singleValue('324','%','Eisdicken') }}
{{ macro.singleValue('3214','km/h','Geschwindigkeit') }}
{{ macro.singleValue('10','째','Firntemperaturen') }} #}

{{ macro.singleValue('1972 - 2018','','Messbeginn- und ende') }}
{{ macro.singleValue('75',' Jahre','Messzeitraum') }}

<p class="hint">{{ 'Kumulierte Meesswerte' | t }}</p>
