{% import '_incl/docMacros' as macro %}

<div class="sideBar stickyNav">
  {{ macro.richText(entry.sidebarText) }}
  <ul class="anchorNav stickyNav">
    <li><a href="#{{ entry.titleMedienmitteilungen | kebab }}">
      {{ entry.titleMedienmitteilungen }}</a>
    </li>
    <li><a href="#{{ entry.titleJahresberichte | kebab  }}">
      {{ entry.titleJahresberichte }}</a>
    </li>
    <li><a href="#{{ entry.titleJahrbuecher | kebab  }}">
      {{ entry.titleJahrbuecher }}</a>
    </li>
  </ul>
</div>
