
<ul class="anchorNav">
    <li><a href="#{{ entry.titleMedienmitteilungen | replace(' ', '-') }}">
      {{ entry.titleMedienmitteilungen }}</a>
    </li>
    <li><a href="#{{ entry.titleJahresberichte | replace(' ', '-')  }}">
      {{ entry.titleJahresberichte }}</a>
    </li>
    <li><a href="#{{ entry.titleJahrbuecher | replace(' ', '-')  }}">
      {{ entry.titleJahrbuecher }}</a>
    </li>
</ul>
