{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}

{% block content %}
  <div class="contentGrid">

    <div class="contentHead">
      <h2 class="pageTitle">{{ entry.title }}</h2>
     {% if entry.leadtextPublikationen %}{{ macro.richText(entry.leadtextPublikationen) }}{% endif %}
    </div>

    <div class="pubContentSection">
      <h3 class="sectionTitle" id="{{ entry.titleMedienmitteilungen | kebab  }}">{{ entry.titleMedienmitteilungen }}</h3>
      {% if entry.leadtextMedienmitteilungen %}{{ macro.richText(entry.leadtextMedienmitteilungen) }}{% endif %}
      {% include '_organisms/pubPressInfo' %}
    </div>

    <div class="pubContentSection">
      <h3 class="sectionTitle" id="{{ entry.titleJahresberichte | kebab  }}">{{ entry.titleJahresberichte }}</h3>
      {% if entry.leadtextJahresberichte %}{{ macro.richText(entry.leadtextJahresberichte) }}{% endif %}
      {% include '_organisms/pubJahresberichte' %}
    </div>

    <div class="pubContentSection">
      <h3 class="sectionTitle" id="{{ entry.titleJahrbuecher | kebab }}">{{ entry.titleJahrbuecher }}</h3>
      {% if entry.leadtextJahrbuecher %}{{ macro.richText(entry.leadtextJahrbuecher) }}{% endif %}
      {% include '_organisms/pubJahrbuecher' %}
    </div>

    <div class="pubContentSection">
      <h3 class="sectionTitle" id="{{ entry.titleFurtherPublications | kebab }}">{{ entry.titleFurtherPublications }}</h3>
      {% if entry.leadtextJahrbuecher %}{{ macro.richText(entry.leadtextFurtherPublications) }}{% endif %}
      {% include '_organisms/pubFurtherPublications' %}
    </div>

    {% include '_molecules/navPublikationen' %}
  </div>
{% endblock %}
