{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}



{% block content %}

  <div class="factsheetGrid">
    {% include '_molecules/factsheetHead' %}
    {% include '_molecules/cardMap' %}
    {% include '_molecules/cardMeasurements' %}
    {{ macro.cardChart('Längenänderung', "Kumulative Längenänderung (m)" | t, 'length_change', 'line', 'm') }}
    {{ macro.cardChart('Massenbilanz', 'Massenbilanz (mm H₂0)' | t, 'mass_balance', 'bar', 'mm H₂0') }}

    {% include '_molecules/cardPhoto' %}
    {% include '_molecules/cardComment' %}
    <div class="fsQuotation"><p>Box für Zitierhinweis</p></div>

    {# {{ macro.cardChart('Volumenänderung', 'chartThree') }}
    {{ macro.cardChart('Eisdicke', 'chartOne') }}
    {{ macro.cardChart('Geschwindigkeit', 'chartFour') }}
    {{ macro.cardChart('Firntemperatur', 'chartfive') }} #}

  </div>

{% endblock %}
