{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}



{% block content %}

  <div class="factsheetGrid">
    {% include '_molecules/factsheetHead' %}
    {% include '_molecules/cardMap' %}
    {% include '_molecules/cardMeasurements' %}

    {% set title = 'Längenänderung' | t %}
    {% set legend = 'Kumulative Längenänderung (m)' | t %}
    {{ macro.cardChart(title, legend, 'length_change', 'line', 'm') }}

    {% set title = 'Massenbilanz' | t %}
    {% set legend = 'Massenbilanz (mm H₂0)' | t %}
    {{ macro.cardChart(title, legend, 'mass_balance', 'bar', 'mm H₂0') }}

    {% include '_molecules/cardPhoto' %}
    {% include '_molecules/cardComment' %}
    <div class="fsQuotation"><p>Box für Zitierhinweis</p></div>

    {# {{ macro.cardChart('Volumenänderung', 'chartThree') }}
    {{ macro.cardChart('Eisdicke', 'chartOne') }}
    {{ macro.cardChart('Geschwindigkeit', 'chartFour') }}
    {{ macro.cardChart('Firntemperatur', 'chartfive') }} #}

  </div>

{% endblock %}
