{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}



{% block content %}

  <div class="factsheetGrid">
    {% include '_molecules/factsheetHead' %}
    {% include '_molecules/cardMap' %}
    {% include '_molecules/cardMeasurements' %}
    {% include '_molecules/cardExport' %}
    <div class="factsheetChartBox">
      {{ macro.cardChart('Längenänderung', 'length_change') }}
      {{ macro.cardChart('Massenbilanz', 'mass_balance') }}
    </div>

    {% include '_molecules/cardPhoto' %}
    {% include '_molecules/cardComment' %}

    {# {{ macro.cardChart('Volumenänderung', 'chartThree') }}
    {{ macro.cardChart('Eisdicke', 'chartOne') }}
    {{ macro.cardChart('Geschwindigkeit', 'chartFour') }}
    {{ macro.cardChart('Firntemperatur', 'chartfive') }} #}

  </div>

{% endblock %}
