{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}



{% block content %}

  <div class="factsheetGrid">
    {% include '_molecules/factsheetHead' %}
    {% include '_molecules/cardMap' %}
    {% include '_molecules/cardMeasurements' %}
    {{ macro.cardChart('L채ngen채nderung', 'length_change') }}
    {{ macro.cardChart('Massenbilanz', 'mass_balance') }}

    {% include '_molecules/cardPhoto' %}
    {% include '_molecules/cardComment' %}
    <div class="fsQuotation"><p>Box f체r Zitierhinweis</p></div>

    {# {{ macro.cardChart('Volumen채nderung', 'chartThree') }}
    {{ macro.cardChart('Eisdicke', 'chartOne') }}
    {{ macro.cardChart('Geschwindigkeit', 'chartFour') }}
    {{ macro.cardChart('Firntemperatur', 'chartfive') }} #}

  </div>

{% endblock %}
