{% set themeVersions = '17.7.2018' %}

{% import '_incl/docMacros' as macro %}

{% if steuerung.enableMaintenance == '1' %}
  {# {% if not user and craft.config.environment == 'live' %} #}
    {% redirect "maintenance" %}
  {# {% endif %} #}
{% endif %}

	<!doctype html>
  <html lang="{{ craft.app.language }}">
    {% include '_incl/docHead' %}
    <body class="{{ entry.section.handle }}">

			<h3>Current Language Position</h3>
      <ul>
				<li>Current Language: {{ currentSite.language }}</li>
				<li>Current Lang Name: {{ currentSite.name }}</li>
				<li>Current Lang ID: {{ currentSite.handle }}</li>
				<li>Current Lang Handle: {{ currentSite.handle }}</li>
			</ul>
			{% include '_organisms/navMain' %}
    	{% block content %}{# all the content #}{% endblock %}
    	{% include '_incl/docScripts' %}
    </body>
  </html>
