{% set themeVersions = '17.7.2018' %}

{% import '_incl/docMacros' as macro %}

{% if steuerung.enableMaintenance == '1' %}
  {# {% if not user and craft.config.environment == 'live' %} #}
    {% redirect "maintenance" %}
  {# {% endif %} #}
{% endif %}

	<!doctype html>
  <html lang="{{ craft.app.language }}">
    {% include '_incl/docHead' %}
    <body class="{{ entry.section.handle }}">

			<h3>{{ 'Aktuelle Seitensprache' | t }}</h3>
      <ul>
				<li>{{'Aktuelles Sprachhandle' | t }}: {{ currentSite.language }}</li>
				<li>{{'Aktueller Sprachname' | t }}: {{ currentSite.name }}</li>
				<li>{{'Aktueller Sprachkurzname' | t }}: {{ currentSite.handle }}</li>
				<li>{{'Aktuelle SprachID' | t }}: {{ currentSite.id }}</li>
			</ul>
			{% include '_organisms/navMain' %}
			<h1>{{ 'Das ist' | t }}: {{ entry.section.handle }} template</h1>
    	{% block content %}{# all the content #}{% endblock %}
    	{% include '_incl/docScripts' %}
    </body>
  </html>
