{% macro textField(macroParam) %}
  {{ macroParam | nl2br | raw }}
{% endmacro %}

{% macro richText(string) %}
  {{ string
    | striptags('<p><a><strong><br><ul><li><em><sup><sub>')
    | replace({
      'm3 ' : 'm<sup>3</sup>',
      'm2 '  : 'm<sup>2</sup>',
      'km3 ' : 'km<sup>3</sup>',
      'km2 ' : 'km<sup>2</sup>',
      'm-2 ' : 'm<sup>-2</sup>',
      'm-3 ' : 'm<sup>-3</sup>',
      'a-1 ' : 'a<sup>-1</sup>',
      'yr-1 '  : 'yr<sup>-1</sup>',
      's-1 ' : 's<sup>-1</sup>',
      's-2 ': 's<sup>-2</sup>',
      'H2O ': 'H<sub>2</sub>O',
      'h2o ': 'h<sub>2</sub>o'
      })
    | raw
  }}
{% endmacro %}

{%- macro pubDate(dateParam) -%}
  {{ dateParam | date('short') }}
{%- endmacro -%}


{% macro singleValue(valueParam, unitParam, labelParam, idParam) %}
  <div class="singleValue">
    <p class="{{ idParam }}">{{ valueParam }}{{ unitParam }}</p>
    <small>{{ labelParam | t }}</small>
  </div>
{% endmacro %}

{% macro timeValue(valueParam, unitParam, labelParam, idParam) %}
  <div class="timeValue">
    <p class="{{ idParam }}">{{ valueParam }}{{ unitParam }}</p>
    <small>{{ labelParam | t }}</small>
  </div>
{% endmacro %}

{% macro majorLink(valueParam, labelParam, buttonParam, idParam) %}
  <div class="majorLink">
    <p>{{ valueParam }}</p>
    <small>{{ labelParam | t }}</small>
    <a href="{{ buttonParam.url }}" class="btn js-keephash" id="overview-{{ idParam }}">{{ buttonParam.title }}</a>
  </div>
{% endmacro %}

{# NOTE: code has been copied to FrontEnd JS, since the entries are to be added dynamically #}
{% macro comparisonEntry(nameParam, idParam, activeTrue) %}
  <div class="comparisonEntry {% if activeTrue %}active{% endif %}">
    <button type="button" name="highlight" class="glacierName" id="{{ idParam }}--list">{{ nameParam }}</button>
    <button type="button" name="remove" class="btn close" id="{{ idParam }}--close">
      {{ svg('@webroot/theme/img/close.svg') }}
    </button>
  </div>
{% endmacro %}

{% macro cardChart(nameParam, legend, source, type, unit) %}
  {% import _self as macro %}
  <div class="fsChart">
    <h3 class="chartTitle">{{ nameParam }}</h3>
    {{ macro.chart(legend, source, type, unit) }}
  </div>
{% endmacro %}

{% macro chart(legend, source, type, unit) %}
  <div class="js-chart outputChart"
    data-legend="{{ legend }}"
    data-source="{{ source }}"
    data-type="{{ type }}"
    data-unit="{{ unit }}"
  >{{ "Keine Daten" | t }}…</div>
{% endmacro %}

{% macro crossLink(linkParam, titleParam, idParam) %}
  <a id="{{ idParam }}" href="/factsheet" class="titleCrosslink js-keephash" title="{{ titleParam }}">
    {{ svg('@webroot/theme/img/crosslink.svg') }}
  </a>
{% endmacro %}
