{% macro textField(macroParam) %}
  {{ macroParam | nl2br | raw }}
{% endmacro %}

{% macro richText(string) %}
  {{ string | striptags('<p><a><strong><br><ul><li><em>')  | raw }}
{% endmacro %}


{% macro singleValue(valueParam, unitParam, labelParam) %}
  <div class="singleValue">
    <p>{{ valueParam }}{{ unitParam }}</p>
    <small>{{ labelParam | t }}</small>
  </div>
{% endmacro %}

{% macro majorLink(valueParam, labelParam, buttonParam) %}
  <div class="majorLink">
    <p>{{ valueParam }}</p>
    <small>{{ labelParam | t }}</small>
    <a href="{{ buttonParam.url }}" class="btn">{{ buttonParam.title }}</a>
  </div>
{% endmacro %}

{% macro comparisonEntry(nameParam) %}
<div class="comparisonEntry">
  <button type="button" name="highlight">{{ nameParam }}</button>
  <button type="button" name="remove" class="btn">-</button>
</div>
{% endmacro %}
